.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.nav .nav-elems {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

.nav .logo {
    padding-left: 0.5rem;
}


