* {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

/* start of nav code */

/* To fix nav at top of the page when scrolling */
/* .nav {
    position: fixed;
    top: 0;
    width: 100%;
} */
.nav {
    margin-bottom: 2rem;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav-container .nav-elems {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

.nav-container .logo {
    padding-left: 0.5rem;
}

.nav-elems li {
    list-style: none;
}

.nav-elems a {
    text-decoration: none;
    color: black;
    padding: 1em;
    border-radius: 0.625em;
}

.nav-elems a:hover {
    background-color: #987aa875;
}
/* end of nav code*/

main h1 {
    margin: 2em 1.875em;
    font-size: 1.1em;
}

/* Start of Search Bar Code */

.search-bar-container{
    display: flex;
}

.search-bar {
    background-color: white;
    margin: 1.875em 1.875em 0 1.875em;
}

.search-bar input[type=search] {
    background-color: white;
    color: #919191;
    border: #a1a1a1 solid 0.05em;
    border-radius: 0.625em;
    width: 100%;
    padding: 0.5em;
    margin-bottom: 0;
}

.filters h2 {
    margin: 1.5em 1.875em 0 1.875em;
    font-size: 0.95em;
}

/* End of Seach Bar Code */

/* Start of Profiles Page Code */

.profiles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    margin: 1.875em 1.875em 0 1.875em;
}

.card {
    background-color: white;
    border: #a1a1a1 solid 0.05em;
    border-radius: 0.625em;
    cursor: pointer;
    padding-bottom: 0.625em;
    width: 31.5%
}

.profile-card-details {
    margin: 0 0.75em;
}

/* End of Profiles Page Code */

/* Start of Community Page Code */

.add-post {
    display: flex;
    margin: 2em 1.875em;
}

.add-post h1 {
    margin: 0;
}

.add-post button {
    margin-left: 1em;
}

.posts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    margin: 1.875em 1.875em 0 1.875em;
}

.post-card-details {
    margin: 0 0.75em;
}

/* End of Community Page Code */


/* start of posts code */
.comment-content, .post-content {
    border: 0.08rem solid gray;
    /* margin: 2rem; */
    margin-left: 2rem;
    margin-right: 2rem;
    /* padding-top: 0; */
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    padding-bottom: 5rem;
    border-radius: 0.2rem;
}

.comment-info, .post-info {
    margin-left: 2rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    color: #907AA8;
}

.comment-info div, .post-info div {
    padding-right: 5rem;
}


.comment, .post {
    padding-bottom: 2rem;
}

.add-comment-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.add-comment-box textarea {
    margin-left: 0;
    width: 90%;
    height: 2rem;
    resize: none;
    color: #907AA8;
}

.add-comment-box button {
    height: 1.7rem;
    margin-top: 0.3rem;
    font-size: 0.8rem;
    background-color: #462E7E;
    border-radius: 0.4rem;
    border: 0.08rem solid #462E7E;
    color: white;
}

.post-title {
    font-weight: 400;
    font-size: 2rem;
    margin: 0.5rem 2rem;
    color: #462E7E;
}

/* end of posts code */



/* start of events code */
.calendar-container .events-header {
    font-weight: 300;
    font-size: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
    color: #462E7E;
}

.calendar-container {
    margin-right: 2rem;
    margin-left: 2rem;
}

table {
    color: black;
    background: white;
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: .5px solid #9A9A9A;
}

th {
    text-align: center;
    padding: 8px;
}

.month-year {
    height: 100%;
    font-size: 20px;
}

td {
    height: 100px;
    vertical-align: top;
    padding: 4px;
    display: flex;
    flex-direction: column;
}

.task-box {
    display:flex;
    background-color: #907aa8;
    margin: 3px;
    padding: 5px;
    border-radius: 5px;
}

.task-box label {
    padding-left: 4px;
    font-size: 15px;
}

.task-box:hover {
    border: 1px solid black;
}

.check-box {
    accent-color: white;
    margin-left: 0px;
}

th .month-year-button {
    border: none;
    display: inline-block;
    background-color: #f3f3f3;
    font-size: 25px;
    color: black;
}

thead tr:first-child{
    background-color: #f3f3f3;
}

th .month-year-button:hover {
    color: #907aa8;
}

.weekdays { 
    display: none;
}

select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.week:last-child td:nth-last-child(-n+4) { 
    display: none; 
}

@media(min-width: 598px) {
    .calendar-container .events-header {
        font-weight: 300;
        font-size: 2rem;
        padding-bottom: 0.5rem;
        padding-top: 1rem;
        color: #462E7E;
    }

    table {
        table-layout: fixed;
    }

    .weekdays { 
        display: table-row; 
    }

    td {
        display: table-cell;
    }
    
    select {
        display: none;
    }

    .week:last-child td:nth-last-child(-n+5) { 
        display: table-cell; 
    }
}
/* end of events code */

/* start of home page code */
.home-page {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    padding-top: 0;
    align-items: center;
}

.home-header {
    font-size: 3.5rem;
    font-weight: 300;
    color: #462E7E;
    padding-right: 1rem;
}

.home-button a button {
    height: 3rem;
    margin-top: 2rem;
    width: 10rem;
    font-size: 1rem;
    background-color: #462E7E;
    border-radius: 0.4rem;
    border: none;
    color: white;
}

.home-image img {
    height: 40rem;
    width: 37rem;
}

.home-activities {
    padding: 2rem;
}

.home-activities-header {
    font-size: 2rem;
    color: #462E7E;
}

.recently-viewed-item {
    height: 8rem;
    border: 0.08rem solid gray;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}



/* end of home page code */