* {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

main {
    min-height: 600px;
}

/* start of nav code */

/* To fix nav at top of the page when scrolling */
/* .nav {
    position: fixed;
    top: 0;
    width: 100%;
} */
.nav {
    margin-bottom: 2rem;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    margin-left: auto;
}

.nav-container .nav-elems {
    /* width: 70%; */
    display: flex;
    justify-content: space-evenly;
    gap: 1.7em;
    padding-right: 2.5em
}

.nav .logo {
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.nav .logo a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    color: #462E7E;
}

.nav li:not(:last-child) {
    margin-top: 0.6rem;
}

.nav-elems li {
    list-style: none;
}

.nav-elems a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    border-radius: 0.625rem;
    font-size: 1.1rem;
}

.nav-elems li:not(:last-child) a:hover {
    background-color: #987aa875;
    cursor: pointer;
    color: black;
}

.nav-elems li:last-child a {
    color: white;
    font-weight: 200;
}

.nav-elems li:last-child:hover {
    background-color: #907AA8;
}

.nav-elems li:last-child {
    background-color: #462E7E;
    border-radius: 0.5rem;
    padding: 0.5rem 0.3rem;
}
/* end of nav code*/

main h1 {
    margin: 0.8rem 1.3em;
    font-size: 1.6rem;
    color: #462E7E;
}

.post-header button {
    border-radius: 5rem;
    margin: 1rem 2rem 0.1rem 2rem;
    border: 0.1rem solid #462E7E;
    background-color: white;
    color: #462E7E;
}
 
.post-header button:hover {
    background-color: #907AA8;
    border: 0.1rem solid #907AA8;
    color: white;
}

.sign-in {
    text-align: center;
}

footer {
    position: relative;
    bottom: 0;
    font-size: 80%;
    margin-top: 3em;
    margin-left: 2rem;
}

/* Start of Search Bar Code */

.search-bar-container {
    display: flex;
}

.search-bar {
    background-color: white;
    margin: 1.875em 1.875em 0 1.875em;
}

.search-bar input[type=search] {
    background-color: white;
    color: #919191;
    border: #a1a1a1 solid 0.08rem;
    border-radius: 0.625em;
    width: 100%;
    padding: 0.5em;
    margin-bottom: 0;
    font-style: italic;
}

.filters h2 {
    margin: 1.5em 1.875em 0 1.875em;
    font-size: 0.95em;
}

/* End of Seach Bar Code */

/* Start of Post Filters */

.post-filter-container {
    margin: 1.875em 1.875em 0 1.875em;
    display: flex;
    gap: 1em;
}

.post-filter-container h2 {
    margin: 0.3em 0.5em;
    font-size: 0.95em;
}

.post-tags {
    display: flex;
    gap: 1rem;
}

/* End of Post Filters */

/* Start of Event Filters */

.event-filter-container {
    margin: 1.875em 1.875em 0 1.875em;
    display: flex;
    gap: 1em;
}

.event-filter-container h2 {
    margin: 0.3em 0.5em;
    font-size: 0.95em;
}

.event-filters {
    display: flex;
    gap: 1.5em;
}

.event-sort select {
    background-color: #907AA8;
    color: white;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.5rem;
    border-radius: 5rem;
    font-size: 0.95rem;
    border: none;
}

.event-sort select:hover {
    background-color: #462E7E;
}

.event-sort {
    margin-left: auto;
}

/* End of Event Filters */

/* Start of People Filters */

.people-filter-container {
    margin: 1.875em 1.875em 0 1.875em;
    display: flex;
    gap: 1em;
}

.people-filter-container h2 {
    margin: 0.3em 0.5em;
    font-size: 0.95em;
}

.people-filters {
    display: flex;
    gap: 1rem;
}

.people-filters select {
    background-color: #907AA8;
    color: white;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.5rem;
    border-radius: 5rem;
    font-size: 0.95rem;
    border: none;
    width: 7rem;
}

.open_contact {
    border-radius: 5rem;
    border: 0.09rem solid grey;
    padding: 0.2rem 0.5em;
    font-size: 0.95rem;
}

.open_contact-clicked {
    border-radius: 5rem;
    border: none;
    padding: 0.2rem 0.9em;
    color: white;
    background-color: #907AA8;
    font-size: 0.95rem;
}

.open_contact:hover {
    border: 0.09rem solid #462E7E;
    color: #462E7E;
    font-size: 0.95rem;
}

.open_contact-clicked:hover {
    background-color: #462E7E;
    font-size: 0.95rem;
}

.people-filters select:hover {
    background-color: #462E7E;
}
/* End of Post Filters */

/* Start of Profiles Page Code */

.profiles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    margin: 1.875em 0 0 1.875em;
}

.profiles-container .card {
    background-color: white;
    border: #462E7E solid 0.15rem;
    border-radius: 0.625rem;
    cursor: pointer;
    padding-bottom: 0.625rem;
    width: 31.5%;
    text-align: center;
    box-shadow: 0.2rem 0.2rem 0.2rem #D3D3D3;
}

.profile-card-details {
    margin: 1rem;
}

.profile-card-details img {
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
}

.profile-card-name {
    font-size: 1.3rem;
    font-weight: 550;
    color: #462E7E;
    padding-top: 0.7rem;
}

.profile-card-role {
    border-radius: 0.5rem;
    margin: 1rem 0.2rem;
    padding: 0.2rem 0.8rem;
    width: fit-content;
    background-color: #EAE4EE;
    font-size: 0.8rem;
    font-weight: 150;
    display: inline-block;
    color: #462E7E;
}

.profile-card-contact {
    border-radius: 0.5rem;
    margin: 1rem 0.2rem;
    padding: 0.2rem 0.8rem;
    background-color: #462E7E;
    font-size: 0.8rem;
    font-weight: 150;
    color: white;
    width: fit-content;
    display: inline-block;
}

.profile-card-major, 
.profile-card-industry, 
.profile-card-job {
    margin-top: 0.2rem;
    font-size: 0.9rem;
    font-weight: 200;
}

.profile-card-major span, 
.profile-card-industry span, 
.profile-card-job span {
    font-weight: 600;
}


/* End of Profiles Page Code */

/* Start of Community Page Code */

.add-post {
    display: flex;
    margin: 2em 1.875em;
}

.add-post h1 {
    margin: 0;
    font-size: 1.6rem;
    color: #462E7E;
}

.add-post button {
    margin-left: 1em;
    border-radius: 0.4rem;
    border: none;
    background-color: #462E7E;
    width: 3rem;
    color: white;
}

.add-post button:hover {
    background-color: #907AA8;
}

.posts-container {
    /* display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    margin: 1.875em 1.875em 0 1.875em; */
    padding: 2rem;
}

.card-post {
    max-height: 20rem;
    border: 0.08rem solid gray;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #D3D3D3;
}

.post-card-details {
    margin: 1.5rem;
}

.post-details {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-details div:nth-last-child(-n+5) {
    font-size: 0.9rem;
    font-weight: 200;
    color: #462E7E;
}

.post-details-divider {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.post-details img {
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.5rem;
}

.post-content-title {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.post-content-text {
    font-size: 0.9rem;
    font-weight: 200;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.post-details-likes {
    margin-left: auto;
}

.post-details-tag {
    margin-left: 2em;
    background-color: #EAE4EE;
    padding: 0em 0.7em;
    border-radius: 1rem;
}

.Academic, .Career, .Miscellaneous {
    border-radius: 5rem;
    border: 0.09rem solid grey;
    padding: 0.2rem 0.5em;
    font-size: 0.95rem;
}

.clicked-academic, .clicked-career, .clicked-misc {
    border-radius: 5rem;
    border: none;
    padding: 0.2rem 0.5em;
    color: white;
    background-color: #907AA8;
    font-size: 0.95rem;
}

.clicked-academic:hover, 
.clicked-career:hover, 
.clicked-misc:hover {
    background-color: #462E7E;
}

.Academic:hover, 
.Career:hover, 
.Miscellaneous:hover {
    border: 0.09rem solid #462E7E;
    color: #462E7E;
}

.post-sort select {
    background-color: #907AA8;
    color: white;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.5rem;
    border-radius: 5rem;
    font-size: 0.95rem;
    border: none;
}

.post-sort select:hover {
    background-color: #462E7E;
}

.post-filter-container .post-sort {
    margin-left: auto;
}
/* End of Community Page Code */


/* start of posts code */
h3 a {
    text-decoration: none;
}

.comment-content,
.post-content {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
}

.comment-content {
    padding-top: 1rem;
}

.comment-info,
.post-info {
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    color: #462E7E;
    align-items: center;
}

.comment,
.post {
    margin: 2rem 2rem 1.5rem 2rem;
    padding: 1.2rem 0.7rem 1.7rem 0.7rem;
    border: 0.08rem solid gray;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #D3D3D3;
}

.add-comment-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.add-comment-box textarea {
    margin-left: 0;
    width: 90%;
    height: 2.5rem;
    resize: none;
    border-radius: 5rem;
    padding-left: 1rem;
    padding-top: 0.4rem;
    color: #919191;
    border: #a1a1a1 solid 0.08rem;
}

.add-comment-box button {
    height: 2.5rem;
    margin-top: 0.3rem;
    font-size: 0.8rem;
    background-color: #462E7E;
    border-radius: 5rem;
    border: 0.08rem solid #462E7E;
    color: white;
}

.post-title {
    font-weight: 500;
    font-size: 1.5rem;
    margin: 0.5rem 1rem;

}

.post-info img {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    margin-right: 0.5rem;
}

.comment-info img {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
}

.post-info-divider,
.comment-info-divider {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.posts-page hr {
    margin-left: 2rem;
    margin-right: 2rem;
}

.post-info-likes {
    margin-left: auto;
    margin-right: 1.5rem;

}

.posts-page button:first-child {
    /* margin: 1rem 2rem; */
    padding: 0 1rem;
}

/* end of posts code */

/* Start of Event Page Code */

.card-event {
    border: 0.05rem solid gray;
    border-left: 0.8rem solid #462E7E;
    padding: 0.5em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #D3D3D3
}

.events-container {
    margin: 2rem;
}

.event-container {
    display: flex;
    flex-direction: row;
}

.event-tag {
    background-color: #EAE4EE;
    border-radius: 5rem;
    width: fit-content;
    padding: 0rem 0.7rem;
    color: #462E7E;
    font-size: 0.9rem;
    font-weight: 200;
    display: inline-block;
}

.event-details {
    margin-left: 2rem;
    margin-right: 1rem;
    flex-basis: 100rem;
}

.event-time {
    margin-bottom: 1rem;
    margin-top: 0.2rem;
    color: #919191;
    font-size: 0.8rem;
}

.event-name {
    font-size: 1.2rem;
    font-weight: 500;
    color: #462E7E;
    display: inline-block;
    margin-right: 1rem;
}

.learn-more-button {
    border-radius: 0.7rem;
    border: none;
    background-color: #462E7E;
    width: 100%;
    height: 2.5rem;
    color: white;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 0.9rem;
}

.event-button {
    align-self: end;
}

.upcoming, .workshop, .in-person {
    border-radius: 5rem;
    border: 0.09rem solid grey;
    padding: 0.2rem 0.5em;
    height: 2rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.upcoming:hover, .workshop:hover, .in-person:hover {
    border: 0.1rem solid #462E7E;
    color: #462E7E;
    font-weight: 400;
}

.event-filters select {
    background-color: #907AA8;
    color: white;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.5rem;
    border-radius: 5rem;
}

.event-filter-container {
    margin: 1.875em 1.875em 0 1.875em;
    display: flex;
    gap: 1em;
}

.event-filter-container h2 {
    margin: 0.3em 0.5em;
    font-size: 0.95em;
}

.event-filters {
    display: flex;
    gap: 1rem;
}

/* End of Event Page Code */

/* Event Form Page */
.event-form-page button:first-child {
    border-radius: 5rem;
    margin: 1rem 2rem 0rem 5rem;
    border: 0.1rem solid #462E7E;
    background-color: white;
    color: #462E7E;
    width: 3rem;
}
 
.event-form-page button:first-child:hover {
    background-color: #907AA8;
    border: 0.1rem solid #907AA8;
    color: white;
}

h1.event-form-heading {
    margin: 1em 1.3em 1em 10rem;
}

.event-form {
    margin-left: 10em;
    margin-right: 10em;
}

.event-form label {
    width: fit-content;
}

.event-form input {
    width: 75%;
    margin-bottom: 2rem;
}

.In-Person, .Virtual {
    border-radius: 5rem;
    border: 0.09rem solid grey;
    padding: 0.2rem 0.5em;
    font-size: 0.95rem;
}

.In-Person:hover, .Virtual:hover {
    border: 0.09rem solid #462E7E;
    color: #462E7E;
}

.clicked-in-person, .clicked-virtual {
    border-radius: 5rem;
    border: none;
    padding: 0.2rem 0.5em;
    color: white;
    background-color: #907AA8;
    font-size: 0.95rem;
}

.clicked-in-person:hover, .clicked-virtual:hover {
    background-color: #462E7E;
}

.event-form textarea {
    width: 75%;
    margin-bottom: 2rem;
}

.event-form .popup-button button {
    margin-right: 0;
    border-radius: 5rem;
    margin-left: 65%;
    color: white;
    border: none;
    background-color: #907AA8;
    width: 7rem;
}
 
.event-form .popup-button button:hover {
    background-color: #462E7E;
    border: none;
} 

.event-location span ,
.event-desc span {
    font-weight: 700;
}

.event-spec {
    font-style: italic;
    color: #907AA8;
}

/* End of Event Form Page */

/* start of events code */
/* .calendar-container .events-header {
    font-weight: 300;
    font-size: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
    color: #462E7E;
}

.calendar-container {
    margin-right: 2rem;
    margin-left: 2rem;
}

table {
    color: black;
    background: white;
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: .5px solid #9A9A9A;
}

th {
    text-align: center;
    padding: 8px;
}

.month-year {
    height: 100%;
    font-size: 20px;
}

td {
    height: 100px;
    vertical-align: top;
    padding: 4px;
    display: flex;
    flex-direction: column;
}

.task-box {
    display:flex;
    background-color: #907aa8;
    margin: 3px;
    padding: 5px;
    border-radius: 5px;
}

.task-box label {
    padding-left: 4px;
    font-size: 15px;
}

.task-box:hover {
    border: 1px solid black;
}

.check-box {
    accent-color: white;
    margin-left: 0px;
}

th .month-year-button {
    border: none;
    display: inline-block;
    background-color: #f3f3f3;
    font-size: 25px;
    color: black;
}

thead tr:first-child{
    background-color: #f3f3f3;
}

th .month-year-button:hover {
    color: #907aa8;
}

.weekdays { 
    display: none;
}

select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.week:last-child td:nth-last-child(-n+4) { 
    display: none; 
}

@media(min-width: 598px) {
    .calendar-container .events-header {
        font-weight: 300;
        font-size: 2rem;
        padding-bottom: 0.5rem;
        padding-top: 1rem;
        color: #462E7E;
    }

    table {
        table-layout: fixed;
    }

    .weekdays { 
        display: table-row; 
    }

    td {
        display: table-cell;
    }
    
    select {
        display: none;
    }

    .week:last-child td:nth-last-child(-n+5) { 
        display: table-cell; 
    }
} */
/* end of events code */

/* start of home page code */
.home-page {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    padding-top: 0;
    align-items: center;
}

.home-header {
    font-size: 3.5rem;
    font-weight: 300;
    color: #462E7E;
    padding-right: 5.5rem;
    margin-left: 3rem;
}

.home-button a button {
    height: 3rem;
    margin-top: 2rem;
    width: 10rem;
    font-size: 1rem;
    background-color: #462E7E;
    border-radius: 0.4rem;
    border: none;
    color: white;
    margin-left: 3rem;
}

.home-image img {
    height: 40rem;
    width: 37rem;
}

.home-image {
    margin-right: 2rem;
}

.home-activities {
    padding: 2rem;
}

.home-activities-header {
    font-size: 2rem;
    color: #462E7E;
}

.recently-viewed-item {
    height: 8rem;
    border: 0.08rem solid gray;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.home-event-container .event-details {
    border: 0.08rem solid gray;
    padding: 0.5em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    flex-basis: 100rem;
    border: 0.05rem solid gray;
    border-left: 0.8rem solid #462E7E;
    padding: 0.5em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #D3D3D3
}

/* end of home page code */


/* start of profile editing page */
.profile-edit-popup {
    padding: 2rem;
    font-weight: 550;
    font-size: 0.9rem;
}

.name-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.first-name-input,
.last-name-input {
    flex-basis: 48%;
}

.profile-edit-popup label {
    display: block;
    margin-bottom: 0.3rem;
}

.profile-edit-popup input {
    display: block;
    margin-bottom: 2rem;
    width: 100%;
    height: 1.5rem;
}

.profile-edit-popup select {
    display: block;
    margin-bottom: 2rem;
    width: 100%;
    height: 2rem;
}

.profile-edit-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.profile-edit-buttons div {
    flex-basis: 8rem;
    margin-bottom: 0.5rem;
}

.profile-cancel-button button {
    width: 7rem;
    height: 2rem;
    font-size: 0.9rem;
    ;
    background-color: white;
    border-radius: 0.4rem;
    border: 0.1rem solid #907AA8;
    color: #907AA8;
}

.profile-save-button button {
    width: 7rem;
    height: 2rem;
    font-size: 0.9rem;
    ;
    background-color: #462E7E;
    border-radius: 0.4rem;
    border: none;
    color: white;
}

/* end of profile editing page */

/* start of profile popup */
.edit-button {
    text-align: center;
    margin: 2rem 0;
}

.edit-button button {
    border-radius: 2rem;
    padding: 0.6rem 1.5rem;
    border: none;
    background-color: #462E7E;
    color: white;
}

.edit-button button:hover {
    background-color: #907AA8;
}

.profile-popup {
    padding: 2rem;
    justify-content: center;
}

.profile-popup-img img {
    border-radius: 50%;
    height: 12rem;
    width: 12rem;
    border: 0.09rem solid #907AA8;
}

.profile-popup-header {
    display: flex;
    margin: 1rem 2rem 1rem 2rem;
    justify-content: space-evenly;
}

.profile-header-details div {
    margin: 1rem 2rem 1rem 2rem;
}

.profile-popup-name {
    font-size: 1.8rem;
    font-weight: 600;
    color: #462E7E;
    margin-bottom: 1.5rem;
}

.profile-popup-details {
    flex-basis: 70%;
    width: 100%;
}

.profile-popup-details div:not(:first-child) {
    /* display: flex;
    flex-direction: row; */
    margin-bottom: 1rem;
}

.profile-popup-details div div:first-child {
    font-weight: 600;
    padding-top: 0.8rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
}

.profile-popup-details div:not(:first-child) div:last-child {
    padding: 0;
    border-radius: 1rem;
    border: none;
    padding: 0.7rem 1rem 0.7rem 1rem;
    background-color: #EAE4EE;
    font-size: 0.9rem;
    box-shadow: 0.2rem 0 0.1rem #D3D3D3;
}

/* end of profile popup */

/* Start of Post Popup  + Edit Profile Form */

/* .popup {
    padding: 2rem 3rem;
    width: 40%;
}

.popup a {
    text-decoration: none;
    color: black;
}

form .popup {
    margin-left: auto;
    margin-right: auto;
    border: solid;
}

form h1 {
    text-align: center;
} */

form label, .edit_profile label {
    display: inline-block;
    width: 6em;
}

form input, .edit_profile input, .edit_profile select {
    margin-bottom: 0.5em;
    padding: .5em;
    width: 200px;
}

.form-tags {
    display: flex;
}

.form-tags .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-left: 0.3em;
}

.form-tags .tags input{
    width: 7.5em;
    font-size: 0.9em;
}

form textarea, .edit_profile textarea {
    margin: .5em 0;
    padding: .5em;
    width: 100%;
}

.popup-button button {
    padding: 0.5em 1.25em;
    margin-top: 0.5em;
    color: black;
    border-radius: 0.5em;
    cursor: pointer;
    margin-left: 445px;
}

.edit_profile button {
    padding: 0.5em 1.25em;
    margin-top: 0.5em;
    color: black;
    border-radius: 0.5em;
    cursor: pointer;
}

/* End of Post Popup  + Edit Profile Form */


/* start of profile page */
.profile-page {
    margin: 2rem;
}

.profile-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    background-color: #EAE4EE;
    padding: 2rem 1.5rem 2rem 1.5rem;
    border-radius: 1rem 1rem 0 0;
    background-image: url('./img/purple.jpg');
    box-shadow: 0.2rem 0 0.4rem #D3D3D3;
    height: 10rem;
}

.profile-intro-img {
    margin-bottom: -6rem;
    align-self: flex-end;
}

.profile-intro-img img {
    border-radius: 50%;
    height: 9rem;
    width: 9rem;
    border: 0.2rem solid #F9F9FB;
    
}

.profile-page button:first-child {
    border-radius: 5rem;
    margin-bottom: 1rem;
    border: 0.1rem solid #462E7E;
    background-color: white;
    color: #462E7E;
    width: 3rem;
}
 
.profile-page button:first-child:hover {
    background-color: #907AA8;
    border: 0.1rem solid #907AA8;
    color: white;
}

.profile-tag {
    display: inline-block;
    border: none;
    background-color: #EAE4EE;
    color: #462E7E;
    font-size: 0.95rem;
    border-radius: 5rem;
    padding: 0.3rem 0.5rem;
    margin: 0.3rem;
}

.profile-bio-container {
    background-color: #FBFBFD;
    padding: 1rem 1.5rem 2rem 1.5rem;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0.2rem 0.2rem 0.4rem #D3D3D3;
}

.education-hist {
    margin-top: 3rem;
}

.profile-intro-message-button {
    align-self: flex-end;
    margin-left: 2rem;
    margin-bottom: -1.6rem;
}

.profile-container .profile-intro-message-button button {
    width: 7rem;
    background-color: #462E7E;
    border: none;
    color: white;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.profile-container .profile-intro-message-button button:hover {
    border: none;
}

.logo img {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
}

/* .education-details {
    margin-left: 1.5rem;
} */

.profile-intro-details {
    margin-left: 2rem;
    margin-bottom: -1rem;
    align-self: flex-end;
}

.profile-intro-name {
    font-size: 2rem;
    font-weight: 500;
    color: #462E7E;
}

.profile-intro-bio, .education-header {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 2rem;
    padding-bottom: 0.3rem;
}

.profile-intro-bio-text,
.education-details {
    font-size: 0.9rem;
    font-weight: 300;
}

.edit_profile {
    /* border: solid black;
    padding: 3rem;
    width: 40%; */
    margin-left: auto;
    margin-right: auto;
}


.edit_profile h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 1em;
}

.edit_profile label {
    display: inline-block;
    width: 10em;
}

.edit_profile input {
    margin-bottom: 0.5em;
    padding: .2em;
    width: 65%;
}

.edit_profile select {
    margin-bottom: 0.5em;
    padding: .2em;
    width: 65%;
}

.profile-intro-tags {
    margin-left: 10rem;
}



/* end of profile page */


/* start of messages page */
.chat-container {
    display: flex;
    flex-direction: row;
    margin: 0 1rem;
    min-height: 80vh;
}

.messages {
    flex-basis: 22rem;
    /* background-color: #EAE4EE;
    border-radius: 2rem; */
}

.message-search-bar input {
    border-radius: 1rem;
    width: 90%;
    height: 2rem;
    border: 0.05rem solid grey;
}

.message-search-bar {
    text-align: center;
    /* margin-top: 1rem; */
}


.messages hr, .message-preview {
    margin: 1rem;
}

.message-preview {
    display: flex;
    flex-direction: row;
    height: 5rem;
    align-items: center;
}

.message-img {
    margin-right: 1rem;
}

.message-preview img {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
}

.message-name {
    color: #462E7E;
    padding-bottom: 0rem;
}

.message-time {
    color: #919191;
    font-size: 0.8rem;
}

.message-desc {
    color: #919191;
    font-size: 0.8rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    width: 15rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.add-message-container textarea {
    margin-left: 0;
    height: 2rem;
    resize: none;
    width: 87%;
    border-radius: 2rem;
    margin-right: 1rem;
    font-size: 0.9rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.2rem;
    border-color: #919191;
}

.add-message-container {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 2rem;
}

.add-message-container button {
    border-radius: 2rem;
    border: none;
    background-color: #462E7E;
    color: white;
    width: 4.2rem;
}

.message-content-name {
    margin: 1rem 0;
    color: #462E7E;
    font-size: 1.2rem;
}

.message-content {
    /* margin-top: -2rem; */
    padding: 0 2rem 2rem 2rem;
    position: relative;
    width: 100%;
    /* background-color: #EAE4EE; */
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #D3D3D3;
    border: 0.05rem solid #919191;
}

.received-message img, .sent-message img {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
}

.received-message, .sent-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
}

.message {
    background-color: #EAE4EE;
    padding: 0.5rem;
    border-radius: 1rem 1rem 1rem 0;
}
/* end of messages page */