* {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

/* start of nav code */

/* To fix nav at top of the page when scrolling */
/* .nav {
    position: fixed;
    top: 0;
    width: 100%;
} */
.nav {
    margin-bottom: 2rem;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: auto;
}

.nav-container .nav-elems {
    /* width: 70%; */
    display: flex;
    justify-content: space-evenly;
    gap: 3em;
    padding-right: 2.5em
}

.nav .logo {
    padding-left: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav-elems li {
    list-style: none;
}

.nav-elems a {
    text-decoration: none;
    color: black;
    padding: 1em;
    border-radius: 0.625em;
}

.nav-elems a:hover {
    background-color: #987aa875;
}
/* end of nav code*/

main h1 {
    margin: 2em 1.875em;
    font-size: 1.1em;
}

/* Start of Search Bar Code */

.search-bar-container{
    display: flex;
}

.search-bar {
    background-color: white;
    margin: 1.875em 1.875em 0 1.875em;
}

.search-bar input[type=search] {
    background-color: white;
    color: #919191;
    border: #a1a1a1 solid 0.05em;
    border-radius: 0.625em;
    width: 100%;
    padding: 0.5em;
    margin-bottom: 0;
}

.filters h2 {
    margin: 1.5em 1.875em 0 1.875em;
    font-size: 0.95em;
}

/* End of Seach Bar Code */

/* Start of Post Filters */

.post-filter-container {
    margin: 1.875em 1.875em 0 1.875em;
    display: flex;
    gap: 1em;
}

.post-filter-container h2 {
    margin: 0.3em 0.5em;
    font-size: 0.95em;
}

.post-tags {
    display: flex;
    gap: 1.5em;
}

/* End of Post Filters */

/* Start of People Filters */

.people-filter-container {
    margin: 1.875em 1.875em 0 1.875em;
    display: flex;
    gap: 1em;
}

.people-filter-container h2 {
    margin: 0.3em 0.5em;
    font-size: 0.95em;
}

.people-filters {
    display: flex;
    gap: 1.5em;
}

/* End of Post Filters */

/* Start of Profiles Page Code */

.profiles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    margin: 1.875em 1.875em 0 1.875em;
}

.card {
    background-color: white;
    border: #a1a1a1 solid 0.05em;
    border-radius: 0.625em;
    cursor: pointer;
    padding-bottom: 0.625em;
    width: 31.5%;
    text-align: center;
}

.profile-card-details {
    /* margin: 0 0.75em; */
    margin: 1rem;
}

.profile-card-details img {
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
}

.profile-card-name {
    font-size: 1.2rem;
    font-weight: 500;
    color: #462E7E;
    padding-top: 0.7rem;
}

.profile-card-industry, .profile-card-major, .profile-card-job, .profile-card-contact {
    width: fit-content;
    margin: 0.3rem;
    padding: 0.3rem 0.5rem;
    border-radius: 10rem;
    border: 0.1rem solid grey;
    font-size: 0.9rem;
    font-weight: 200;
    display: inline-block;
}

/* End of Profiles Page Code */

/* Start of Community Page Code */

.add-post {
    display: flex;
    margin: 2em 1.875em;
}

.add-post h1 {
    margin: 0;
}

.add-post button {
    margin-left: 1em;
}

.posts-container {
    /* display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    margin: 1.875em 1.875em 0 1.875em; */
    padding: 2rem;
}

.card-post {
    height: 8rem;
    border: 0.08rem solid gray;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.post-card-details {
    margin: 1rem;
}

.post-details {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-details div:nth-last-child(-n+4) {
    font-size: 0.9rem;
    font-weight: 200;
    color: #462E7E;
}
.post-details-divider {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.post-details img {
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.5rem;
}

.post-content-title {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.post-content-text {
    font-size: 0.9rem;
    font-weight: 200;
    height: 2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.post-details-likes {
    margin-left: auto;
}

/* End of Community Page Code */


/* start of posts code */
h3 a {
    text-decoration: none;
}

.comment-content, .post-content {
    /* border: 0.08rem solid gray; */
    /* margin: 1rem; */
    margin-left: 1rem;
    margin-right: 1rem;
    /* padding-top: 0; */
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    /* padding-bottom: 1rem; */
    /* border-radius: 0.2rem; */
}

.comment-info, .post-info {
    margin-left: 1rem;
    /* margin-bottom: 0; */
    display: flex;
    flex-direction: row;
    color: #462E7E;
    align-items: center;
}

.comment, .post {
    /* padding-bottom: 2rem; */
    border-radius: 1rem;
    background-color: #F9F9FB;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.add-comment-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.add-comment-box textarea {
    margin-left: 0;
    width: 90%;
    height: 2rem;
    resize: none;
    color: #907AA8;
}

.add-comment-box button {
    height: 1.7rem;
    margin-top: 0.3rem;
    font-size: 0.8rem;
    background-color: #462E7E;
    border-radius: 0.4rem;
    border: 0.08rem solid #462E7E;
    color: white;
}

.post-title {
    font-weight: 400;
    font-size: 2rem;
    margin: 0.5rem 1rem;
    color: #462E7E;
}

.post-info img {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    margin-right: 0.5rem;
}

.comment-info img {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
}

.post-info-divider, .comment-info-divider {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.posts-page hr {
    margin-left: 2rem;
    margin-right: 2rem;
}

.post-info-likes {
    margin-left: auto;
    margin-right: 1.5rem;
    
}

/* end of posts code */



/* start of events code */
/* .calendar-container .events-header {
    font-weight: 300;
    font-size: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
    color: #462E7E;
}

.calendar-container {
    margin-right: 2rem;
    margin-left: 2rem;
}

table {
    color: black;
    background: white;
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: .5px solid #9A9A9A;
}

th {
    text-align: center;
    padding: 8px;
}

.month-year {
    height: 100%;
    font-size: 20px;
}

td {
    height: 100px;
    vertical-align: top;
    padding: 4px;
    display: flex;
    flex-direction: column;
}

.task-box {
    display:flex;
    background-color: #907aa8;
    margin: 3px;
    padding: 5px;
    border-radius: 5px;
}

.task-box label {
    padding-left: 4px;
    font-size: 15px;
}

.task-box:hover {
    border: 1px solid black;
}

.check-box {
    accent-color: white;
    margin-left: 0px;
}

th .month-year-button {
    border: none;
    display: inline-block;
    background-color: #f3f3f3;
    font-size: 25px;
    color: black;
}

thead tr:first-child{
    background-color: #f3f3f3;
}

th .month-year-button:hover {
    color: #907aa8;
}

.weekdays { 
    display: none;
}

select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.week:last-child td:nth-last-child(-n+4) { 
    display: none; 
}

@media(min-width: 598px) {
    .calendar-container .events-header {
        font-weight: 300;
        font-size: 2rem;
        padding-bottom: 0.5rem;
        padding-top: 1rem;
        color: #462E7E;
    }

    table {
        table-layout: fixed;
    }

    .weekdays { 
        display: table-row; 
    }

    td {
        display: table-cell;
    }
    
    select {
        display: none;
    }

    .week:last-child td:nth-last-child(-n+5) { 
        display: table-cell; 
    }
} */
/* end of events code */

/* start of home page code */
.home-page {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    padding-top: 0;
    align-items: center;
}

.home-header {
    font-size: 3.5rem;
    font-weight: 300;
    color: #462E7E;
    padding-right: 1rem;
}

.home-button a button {
    height: 3rem;
    margin-top: 2rem;
    width: 10rem;
    font-size: 1rem;
    background-color: #462E7E;
    border-radius: 0.4rem;
    border: none;
    color: white;
}

.home-image img {
    height: 40rem;
    width: 37rem;
}

.home-activities {
    padding: 2rem;
}

.home-activities-header {
    font-size: 2rem;
    color: #462E7E;
}

.recently-viewed-item {
    height: 8rem;
    border: 0.08rem solid gray;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}
/* end of home page code */


/* start of profile editing page */
.profile-edit-popup {
    padding: 2rem;
    font-weight: 550;
    font-size: 0.9rem;
}

.name-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.first-name-input, .last-name-input {
    flex-basis: 48%;
}

.profile-edit-popup label {
    display: block;
    margin-bottom: 0.3rem;
}

.profile-edit-popup input {
    display: block;
    margin-bottom: 2rem;
    width: 100%;
    height: 1.5rem;
}

.profile-edit-popup select {
    display: block;  
    margin-bottom: 2rem;
    width: 100%;
    height: 2rem;
}

.profile-edit-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.profile-edit-buttons div {
    flex-basis: 8rem;
    margin-bottom: 0.5rem;
}

.profile-cancel-button button{
    width: 7rem;
    height: 2rem;
    font-size: 0.9rem;;
    background-color: white;
    border-radius: 0.4rem;
    border: 0.1rem solid #907AA8;
    color: #907AA8;
}

.profile-save-button button {
    width: 7rem;
    height: 2rem;
    font-size: 0.9rem;;
    background-color: #462E7E;
    border-radius: 0.4rem;
    border: none;
    color: white;
}

/* end of profile editing page */

/* start of profile popup */
.profile-popup {
    padding: 1rem;
}

.profile-popup-img img {
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
}

.profile-popup-header {
    display: flex;
    flex-direction: row;
}

.profile-header-details div {
    padding-left: 2rem;
    padding-top: 0.5rem;
}

.profile-popup-name {
    font-size: 1.5rem;
    font-weight: 500;
    color: #462E7E;
}

.profile-popup-details {
    padding-top: 2rem;
}

.profile-popup-details div {
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
}

.profile-popup-details div div:first-child {
    font-weight: 600;
    width: 10.5%;
}
/* end of profile popup */

/* Start of Post Popup */

/* .popup {
    padding: 2rem 3rem;
    width: 40%;
}

.popup a {
    text-decoration: none;
    color: black;
}

form .popup {
    margin-left: auto;
    margin-right: auto;
    border: solid;
}

form h1 {
    text-align: center;
} */

form label {
    display: inline-block;
    width: 6em;
}

form input {
    margin-bottom: 0.5em;
    padding: .5em;
}

.form-tags {
    display: flex;
}

.form-tags .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-left: 0.3em;
}

form textarea {
    margin: .5em 0;
    padding: .5em;
    width: 100%;
}

.popup-button button {
    padding: 0.5em 1.25em;
    margin-top: 0.5em;
    color: black;
    border-radius: 0.5em;
    cursor: pointer;
    margin-left: 445px;
}

/* End of Post Popup */


/* start of profile page */
.profile-page {
    margin: 2rem;
}

.profile-container {
    display: flex;
    flex-direction: row;
    background-color: #907AA8;
    padding: 2rem 1.5rem 2rem 1.5rem;
    border-radius: 1rem 1rem 0 0;
}

.profile-intro-img img {
    border-radius: 50%;
    height: 9rem;
    width: 9rem;
    border: 0.2rem solid #F9F9FB;
}

.profile-bio-container {
    background-color: #CEB2C8;
    padding: 2rem 1.5rem 2rem 1.5rem;
    border-radius: 0 0 1rem 1rem;
}

.education-hist {
    margin-top: 3rem;
}

.education-container {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    align-items: center;
}

.logo img {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
}

.education-details {
    margin-left: 1.5rem;
}

.profile-intro-details {
    margin-left: 2rem;
}

.profile-intro-name {
    font-size: 2rem;
    font-weight: 500;
    color: white;
}

.profile-intro-bio {
    font-size: 1.2rem;
    font-weight: 500;
    padding-bottom: 0.75rem;
}

.profile-intro-bio-text, .education-details {
    font-size: 0.9rem;
    font-weight: 300;
}

.education-header {
    font-size: 1.2rem;
    font-weight: 500;
}



/* end of profile page */